<div class="col-sm-8 col-sm-offset-2">
    <h2>Nouveau post</h2> 
    <form [formGroup]="newPostForm" (ngSubmit)="onSubmitForm()" >
      <div class="form-group">
          <label for="titre">Titre </label>
          <input type="text" class="form-control" id="titre" formControlName="titre">
      </div>
      <div class="form-group">
          <label for="content">Contenu</label>
          <textarea id="content"
                  class="form-control" formControlName="content">
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="newPostForm.invalid" >Soumettre</button>
  </form>
</div>
