<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="posts">Posts</a></li>
        <li routerLinkActive="active"><a routerLink="new">Nouveau post</a></li>
      </ul>
      <ul class="nav navbar-nav">
        
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>