<li [ngClass]="{'list-group-item': true,
                'list-group-item-success' : loveIts > 0,
                'list-group-item-danger' : loveIts < 0 }">

  <div>
    <p style="float: right;">{{created_at | date }}</p>
    <h4>{{title}}</h4>
  </div>
  <p>{{content}}</p>
  <div >
    <button class="btn btn-success" style="margin: 5px;" (click)="UpdateLoveIts()">Love it ({{loveIts}})</button>
    <button class="btn btn-danger" style="margin: 5px;" (click)="UpdateDontLoveIts()">Don't love it</button>
    <button class="btn btn-danger" style="margin: 5px;float: right;" (click)="onDeletePost()">Supprimer</button>
  </div>
</li>