<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Posts</h2>      
        <ul class="list-group">
          <app-post-list-item *ngFor="let post of listePoste; let i = index" 
          [title]="post.title" 
          [content]="post.content" 
          [created_at]="post.created_at" 
          [loveIts]="post.loveIts"
          [index]="i"></app-post-list-item>
        </ul>
      </div>
    </div>
  </div>
